[Unit]
Description=Inventory Service
After=network.target

[Service]
User=carlosbpac
ExecStart=/usr/bin/java -jar /var/api/project2AyD2/inventory-service.jar --spring.profiles.active=dev
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
